@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    --grey: #E1E1E6;
}

body{
    background-color: black;
    background-image: url(conteudo/desktop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

main {
    width: 500px;
    height: 812px;
    margin: 0 auto;
    background: url(conteudo/Mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

/* Caixa do tamanho geral do cracha */

.maincontainer {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 

/* Caixa que contem as informações dentro do cracha */

.avatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 278px;
    height: 400px;
    margin: 0 auto;
}

/* Div da foto + logo da rocketseat */

#foto {
    position: absolute;
    margin-bottom: 222px;
}


#rocketseat {
    transform: rotate(0deg);
    position: absolute;
    z-index: 1;
}

#profilepic { /* Foto de perfil */
    position: static;
    width: 160px;
    height: 184px;
    /* object-fit:fill; */    
    clip-path: polygon(50% 0, 100% 26%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Depois da foto */

#afterpic {
    display: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    align-items: inherit;
    margin-top: 150px;
}

/* Nome + ghub */

h1 {
    position: relative;
    top: 10px;
    color: var(--grey);
    font-size: 24px;
}
p {
    color: var(--grey);
    font-size: 14px;
}

#ghub {
    display: flex;
    gap: 5px;
    position: relative;
    top: 10px;
}

#bio {
    position: relative;
    top: 50px;
    text-align: center;
}

/* Redes sociais */

#socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#socialmedia a img{
    position: relative;
    top: 20px;
    width: 48px;
    height: 48px;
    transition: all ease 0.3s;
}

#socialmedia img:hover{
    top: -8px;
    transition: all ease 0.3s;
    transform: scale(1.1)
}

#socialmedia img:hover::before{
    transition: all ease 0.3s;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* Faixa que segura o cracha */

#faixa {
    width: 64px;
    height: 178px;
    background: linear-gradient(to bottom right, #05d6d9, #f907fc);
    position: absolute;
    place-self: start center;
    z-index: 1;
}

/* Risco preto  */

#quebra {
    width: 80px;
    height: 8px;
    background-color: black;
    position: absolute;
    place-self: start center;
    margin-top: 174px;
}

/* Logo do while apos / antes o body */

#dowhile {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
}

#dowhile2 {
    display: none;
}
 
/* Not mobile */

@media(max-width: 4120px){
    .avatar {
        margin-top: 200px;
    }

    main {
        margin-top: 140px;
    }

    p {
        font-size: 20px;
    }

    #socialmedia a img{
        width: 60px;
        height: 60px;
    }

    #socialmedia {
        position: relative;
        margin-top: 100px;
    }
}

/* Mobile */
@media(max-width: 600px){
    .maincontainer {
        width: 375px;
    }

    main{
        width: 375px;
        margin: 0 auto;
    }

    .avatar{
        margin-top: 120px;
    }

    #foto {
        margin-top: 140px;
    }
    
    p {
        font-size: 14px;
    }

    #socialmedia {
        position: relative;
        margin-top: 20px;
    }

    #socialmedia a img{
        top: 0px;
        width: 48px;
        height: 48px;
    }

    #faixa{
        display: none;
    }

    #quebra {
        display: none;
    }

    body {
        background-color: #202024;
    }

    #dowhile {
        position: relative;
        display: none;
    }

    #dowhile2{
        display: block;
        margin: 50px auto 0px auto;
    }

}